//  index.jade
doctype html
html
    head
        title pasport
        meta(charset="utf-8")
        script(src = '/socket.io/socket.io.js')
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/style.css")

    body
        //form#form__buttons
        //    .clearfix
        //    #login
        //        a.a_login(href="/login")
        //            img.img_login(src="img/6.png", alt="shesternya")
        //            .text1 Вход
        //            .text2 То есть ввести известные логин и пароль
        //    //.but
        //    //    input#form__button_login(type='button', value='Авторизация', onclick="javascript:window.location='/login'")
        //    .clearfix
        //    .but
        //        input#form__button_reg(type='button', value='Регистрация', onclick="javascript:window.location='/registration'")
        //    .clearfix
        .container
          .jumbotron.text-center
            .fa.fa-lock Authentication
          p Login
          a.btn.btn-default(href="/login") Local Login